  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: LightSkyBlue;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    height:80px;
  }
  .btn{
    float: right;
    block-size: 30px;
    font-size: 20px;
  }

  nav {
    float: left;
    width: 20%;
    height: 500px;
    background: AliceBlue;
    padding: 20px;
  }
  
  /* menu bar */
  nav ul {
    list-style-type: square;
    padding: 30px;
    font-size: 20px;
  }
  
  article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: LightSkyBlue;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .introduce{
    font-style: arial;
    text-align: center;
    font-size: 20px;
  }

  .title{
    text-align: center;
    font-weight: boler;
    font-size:30px;
  }

  article ul{
    font-size: 20px;
  }

  .card:hover{
    background-color: LightSkyBlue;
  }

  .card:active{
    background-color: #81DAF5;
  }
  .card:visited{
    color: white;
}